<header>
  <nav>
    <h3>
      <a href="/"
        >Blast
        <i class="home_rocket fa-solid fa-rocket" style="color: #00008b"></i
        >OFF</a
      >
    </h3>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/library">Library</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About Us</a></li>
    </ul>
    <div class="menu">
      <button class="click">
        <span>Menu</span>
        <i class="fa-solid fa-bars fa-2x" style="color: #e3f1f7"></i>
      </button>
    </div>
  </nav>
</header>
