<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> <%= title %> | Blastoff</title>

    <script src="home.js" defer></script>
    <link rel="stylesheet" href="/home.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/718c6e0d9d.js"
      crossorigin="anonymous"
    ></script>
  </head>