<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
<body>
    
    <div class="index__body">
        <div class="error">
            <h1>404 | Are you lost in space?</h1>
        <a href="/" class="light">Home</a>
        </div>
    </div>
    
</body>
</html>