/* global variables */
:root {
  --background: linear-gradient(to top, #010f1c, #00008bf4, #a6e6ff, #e3f1f7)
    no-repeat center center/cover;

  --white: #ebebeb;

  --skyblue: #a6e6ff;
  --navyblue: #00008bf4;
  --midnightblue: #010f1c;
  --purple: #890bff;
  --border: 1px solid #63768b;
  --grey: #8899ac;

  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

.library__search {
  display: flex;
  justify-content: space-between;
  width: 330px;
  margin: auto;
}

.library__longcard {
  margin: 0 auto 40px auto;
  background: var(--purple);
  color: var(--white);
  width: 900px;
  height: 210px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 4px 4px 0 #00000080;
}

.library__emptyplot,
img.library__picture {
  flex: 0.24;
}

.library__emptyplot {
  position: relative;
  overflow: hidden;
}

.library__emptyplot svg.booksvg1 {
  width: 300px;
  height: 300px;
  top: -105px;
  left: -135px;
}

.library__loncard-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 0.56;
}

.library__display {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.library__holder {
  margin: 12px 0;
  width: 250px;
  height: 200px;
  box-shadow: 0 4px 4px 0 #00000080;
  transition: 0.3s;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.library__holder:hover {
  box-shadow: 0 8px 16px 0 #00000080;
}

.library__shelf {
  flex: 0.75;
  position: relative;
  z-index: 1;
  width: 100%;
}

.library__button {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  flex: 0.25;
  border-radius: 0 0 5px 5px;
  color: var(--grey);
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}

/* this is the book div  */
.book {
  position: absolute;
  top: 73px;
  left: 78.2px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

svg.booksvg1 {
  position: absolute;
  top: -30px;
  left: -45px;
}

svg.booksvg2 {
  position: absolute;
  bottom: -60px;
  left: -20px;
}

svg.booksvg3 {
  position: absolute;
  bottom: -50px;
  right: -30px;
}

.library__holder:hover .cover {
  transform: rotateX(10deg) rotateY(-100deg);
}

.library__holder:hover .page {
  transform: rotateX(10deg) rotateY(-100deg);
  z-index: 2;
}

.cover {
  z-index: 1;
  transition: all 1.5s;
  overflow: hidden;
}

.black-cover {
  z-index: -2;
}

.cover,
.black-cover {
  height: 108px;
  width: 93.6px;
  border-radius: 0.72px 7.2px 7.2px 0.72px;
  position: absolute;
  box-shadow: 1px 1px 10px rgba(37, 37, 37, 0.384);
  transform: rotateX(10deg);
  transform-origin: center left;
}

.page,
.last-page {
  height: 100.8px;
  width: 90px;
  background: var(--white);
  position: absolute;
  border-radius: 0.72px 7.2px 7.2px 0.72px;
  transform: rotateX(20deg);
  z-index: -1;
  transform-origin: center left;
  color: var(--grey);
}

.page:nth-child(2) {
  transition-duration: 1.5s;
}

.page:nth-child(3) {
  transition-duration: 1.3s;
}

.page:nth-child(4) {
  transition-duration: 1.1s;
}

.page:nth-child(5) {
  transition-duration: 0.9s;
}

.page:nth-child(6) {
  transition-duration: 0.7s;
}

.library__holder:hover .page:nth-child(2) {
  transition-duration: 3s;
}

.library__holder:hover .page:nth-child(3) {
  transition-duration: 2.8s;
}

.library__holder:hover .page:nth-child(4) {
  transition-duration: 2.6s;
}

.library__holder:hover .page:nth-child(5) {
  transition-duration: 2.4s;
}

.library__holder:hover .page:nth-child(6) {
  transition-duration: 2.2s;
}

.last-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-page h4 {
  font-size: 7px;
}

.library__holder.mathematics {
  background-color: #9cc245;
}

.mathematics .cover,
.mathematics .black-cover {
  background: #6d1d00;
}

.library__holder.science {
  background-color: #ff1dcec5;
}

.science .cover,
.science .black-cover {
  background: #6495ed;
}

.library__holder.health {
  background-color: #4169e1;
}

.health .cover,
.health .black-cover {
  background: #fff5ee;
}

.library__holder.reading {
  background-color: #20b2aa;
}

.reading .cover,
.reading .black-cover {
  background: #b69681;
}

.library__holder.social {
  background-color: #d8d8d8;
}

.social .cover,
.social .black-cover {
  background: #4d4545;
}

.library__holder.arts {
  background-color: #4b1208;
}

.arts .cover,
.arts .black-cover {
  background: #5f9ea0;
}

.library__holder.space {
  background-color: black;
}

.space .cover,
.space .black-cover {
  background: #f8e369;
}

.library__holder.animals {
  background-color: #78184a;
}

.animals .cover,
.animals .black-cover {
  background: #00b1b1;
}

.library__holder.music {
  background-color: #d2b48c;
}

.music .cover,
.music .black-cover {
  background: #ff0000;
}

.library__holder.language {
  background-color: white;
}

.language .cover,
.language .black-cover {
  background: black;
}

.library__holder.plants {
  background-color: #b5651d;
}

.plants .cover,
.plants .black-cover {
  background: #32cd32;
}

.library__holder.history {
  background-color: #fad506;
}

.history .cover,
.history .black-cover {
  background: #9b3c05;
}

.library__oceonfloor {
  margin-top: 30px;
  width: 100%;
  height: 300px;
  display: flex;
  overflow: hidden;
  position: relative;
}

svg#fish {
  top: 5em;
}
/* Fish Animation */
svg.fish {
  overflow: visible;
}

@-webkit-keyframes swim {
  0% {
    margin-left: -235px;
  }
  90% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes swim {
  0% {
    margin-left: -235px;
  }
  70% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

.fish {
  width: 235px;
  height: 104px;
  margin-left: -235px;
  position: absolute;
  animation: swim 20s;
  -webkit-animation: swim 20s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

svg #fish1,
svg #fish2,
svg #fish3,
svg #fish4,
svg #fish5,
svg #fish6 {
  fill: #528484;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

svg #fish2 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

svg #fish3 {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

svg #fish4 {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

svg #fish5 {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

svg #fish6 {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

/**/
@-webkit-keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(-3px);
  }
}
@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(-3px);
  }
}

.ocean::after,
.ocean::before {
  background-color: white;
  width: 120%;
  height: 120px;
  position: absolute;
  content: '';
  top: -80px;
  left: -10%;
  border-radius: 100%;
  -webkit-animation: waves 10s ease infinite;
  animation: waves 10s ease infinite;
  opacity: 0.2;
}

.ocean::before {
  top: -60px;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  opacity: 0.1;
  left: -5%;
}

@-webkit-keyframes waves {
  0%,
  100% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
}

@keyframes waves {
  0%,
  100% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
}

.bubbles {
  min-width: 900px;
  height: 200px;
  -webkit-animation: bubbles 10s linear infinite;
  animation: bubbles 10s linear infinite;
}

@-webkit-keyframes bubbles {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

@keyframes bubbles {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

.bubbles span {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  bottom: -10%;
  -webkit-animation: bubble 10s ease-in-out infinite;
  animation: bubble 10s ease-in-out infinite;
}

@-webkit-keyframes bubble {
  0% {
    bottom: -10%;
    opacity: 0;
  }
  100% {
    bottom: 100%;
  }
}

@keyframes bubble {
  0% {
    bottom: -10%;
    opacity: 0;
  }
  100% {
    bottom: 100%;
  }
}

.bubbles span:nth-child(1) {
  width: 50px;
  height: 50px;
  opacity: 0.5;
  left: 10%;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  opacity: 0.2;
}

.bubbles span:nth-child(2) {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  left: 40%;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  opacity: 0.1;
}

.bubbles span:nth-child(3) {
  width: 10px;
  height: 10px;
  opacity: 0.5;
  left: 30%;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubbles span:nth-child(4) {
  width: 35px;
  height: 35px;
  opacity: 0.5;
  left: 40%;
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  opacity: 0.2;
}

.bubbles span:nth-child(5) {
  width: 45px;
  height: 45px;
  left: 60%;
  -webkit-animation: bubbles-animation 15s ease-in-out 10s infinite;
  animation: bubbles-animation 15s ease-in-out 10s infinite;
}

.bubbles span:nth-child(6) {
  width: 40px;
  height: 40px;
  left: 80%;
  -webkit-animation: bubbles-animation 30s ease-in-out 3s infinite;
  animation: bubbles-animation 30s ease-in-out 3s infinite;
}

.bubbles span:nth-child(7) {
  width: 15px;
  height: 15px;
  left: 90%;
  -webkit-animation: bubbles-animation 25s ease-in-out infinite;
  animation: bubbles-animation 25s ease-in-out infinite;
}

.bubbles span:nth-child(8) {
  width: 20px;
  height: 20px;
  left: 50%;
  -webkit-animation: bubbles-animation 10s ease-in-out infinite;
  animation: bubbles-animation 10s ease-in-out infinite;
}

.fun__fish {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: orange;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: inset 0px -6px 0px rgba(0, 0, 0, 0.1);
  -webkit-animation: fun__fish 40s ease-in infinite;
  animation: fun__fish 40s ease-in infinite;
}

@-webkit-keyframes fun__fish {
  0% {
    left: calc(100% + 30px);
    top: 60%;
  }
  50% {
    top: 40%;
  }
  100% {
    left: -20%;
    top: 50%;
  }
}

@keyframes fun__fish {
  0% {
    left: calc(100% + 30px);
    top: 60%;
  }
  50% {
    top: 40%;
  }
  100% {
    left: -20%;
    top: 50%;
  }
}

/* fun__fish tail */
.fun__fish::after,
.fun__fish::before {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 10px;
  background: inherit;
  content: '';
  position: absolute;
  top: 30%;
  right: -20px;
  transform: rotate(-20deg);
  z-index: -1;
  -webkit-animation: tail 2s ease infinite;
  animation: tail 2s ease infinite;
}

.fun__fish::before {
  top: 42%;
  transform: rotate(20deg);
}

@-webkit-keyframes tail {
  0%,
  100% {
    right: -20px;
  }
  50% {
    right: -10px;
  }
}

@keyframes tail {
  0%,
  100% {
    right: -20px;
  }
  50% {
    right: -10px;
  }
}

/* rest of the fun__fish */

.fun__fish span {
  content: '';
  position: absolute;
}

/* eyes - white part */
.fun__fish span:nth-child(1),
.fun__fish span:nth-child(2) {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: white;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.1);
  top: 20px;
  z-index: -2;
}

.fun__fish span:nth-child(2) {
  z-index: 0;
  left: 35px;
  top: 25px;
}

/* eyes - black part */
.fun__fish span:nth-child(1)::after,
.fun__fish span:nth-child(2)::after {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: #2a2a2a;
  content: '';
  position: absolute;
  z-index: 1;
  top: 6px;
  left: 6px;
  box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.5);
  -webkit-animation: eyes 4s ease infinite;
  animation: eyes 4s ease infinite;
}

@-webkit-keyframes eyes {
  0%,
  100% {
    top: 4px;
  }
  50% {
    top: 10px;
  }
}

@keyframes eyes {
  0%,
  100% {
    top: 4px;
  }
  50% {
    top: 10px;
  }
}

/* mouth */
.fun__fish span:nth-child(3) {
  border-radius: 100%;
  width: 25px;
  height: 15px;
  background-color: brown;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.3);
  top: 50px;
  left: -5px;
  z-index: 1;
  transform: rotate(5deg);
  border: solid 5px orange;
  -webkit-animation: mouth 4s ease infinite;
  animation: mouth 4s ease infinite;
}

@-webkit-keyframes mouth {
  0%,
  100% {
    height: 25px;
    width: 15px;
  }
  50% {
    height: 15px;
    width: 8px;
  }
}

@keyframes mouth {
  0%,
  100% {
    height: 25px;
    width: 15px;
  }
  50% {
    height: 15px;
    width: 8px;
  }
}

/* fun__fish bubbles */
.fun__fish span:nth-child(4),
.fun__fish span:nth-child(5),
.fun__fish span:nth-child(6) {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: white;
  box-shadow: inset 0px 5px 0px rgba(0, 0, 0, 0.3);
  top: 20px;
  left: -30px;
  z-index: -2;
  opacity: 0.3;
  -webkit-animation: fun__fishbubbles 4s ease infinite;
  animation: fun__fishbubbles 4s ease infinite;
  z-index: 2;
}

.fun__fish span:nth-child(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  width: 20px;
  height: 20px;
}

.fun__fish span:nth-child(6) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  width: 10px;
  height: 10px;
}

@-webkit-keyframes fun__fishbubbles {
  0% {
    width: 0;
    height: 0;
    top: 70px;
    left: 2px;
  }

  50% {
    left: -20px;
  }

  100% {
    top: -80px;
    opacity: 0;
  }
}

@keyframes fun__fishbubbles {
  0% {
    width: 0;
    height: 0;
    top: 70px;
    left: 2px;
  }

  50% {
    left: -20px;
  }

  100% {
    top: -80px;
    opacity: 0;
  }
}
