html {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body { 
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        header {
            background: linear-gradient(to right,  skyblue, darkblue);
            opacity: 0.8;
           




            .first-section {
                display: block;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                margin-top: 3rem;
                padding: 4rem;
               


                div {
                    position: relative;
                    margin: auto;
                    left: 3rem;
                    font-weight: bold;
                


                    h1 {
                        font-size: 4rem;
                        color: darkblue;
                        padding: 0.3rem;
                        text-align: center;
                        opacity: 0.9;
                    }



                    p {
                        font-size: 18px;
                        color: black;
                        display: flex;
                        text-align: justify;

                    }

                    a {
                        color: white;
                        text-decoration: none;
                        background-color: darkblue;
                        font-size: 1rem;
                        display: block;
                        text-align: center;
                        font-weight: bold;
                        padding: 0.7rem;
                        opacity: 0.8;

                    }

                }



                .block1 {
                    line-height: 2.5rem;
                    padding: 2rem;
                    background-color: white;
                    margin-left: 2.5rem;
                    opacity: 0.9;
                

                }


                .block2 {
                    opacity: 0.1;
                    min-height: fit-content;




                }



            }


        }


        .second-section {
        
            display: flex;
            margin: auto;
            width: 80%;
            padding-top: 2rem;
            background-color: white;
            opacity: 0.9;



            .block3 {
                position: relative;
                display: block;
                margin: auto;
                padding: 5rem;
                border-radius: 30px;
                margin-left: 3rem;




                .containers{
                    max-width: 600px;
                    margin: 50px auto;
                }
                button.accordion{
                    width: 100%;
                    background-color: whitesmoke;
                    border: none;
                    text-align: left;
                    padding: 15px 20px;
                    font-size: 18px;
                    color: #333;
                    cursor: pointer;
                    transition: background-color 0.2s linear;
                }
                button.accordion::after{
                    content: "\f150";
                    float: right;
                }
                button.accordion.is-open::after{
                    content: "\f056";
                }
                button.accordion:hover, button.accordion.is-open{
                    background-color: #ddd;
                }
                .accordion-content{
                    background-color: white;
                    border-left: 1px solid whitesmoke;
                    border-right: 1px solid whitesmoke;
                    padding: 0 20px;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-in-out;
                }
    




                h1 {
                    font-size: 2rem;
                    color: skyblue;
                    font-weight: bold;
                }


                p {
                    line-height: 2.7rem;
                    text-align: justify;
                    font-size: 1.2rem;
                    padding-bottom: 1rem;
                    font-weight: bold;
                   
                }

                a {
                    background-color: skyblue;
                    color: white;
                    text-decoration: none;
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-weight: bold;
                    padding: 1rem;

                }



            }



            .block4 {
                img {
                    width: 400px;
                    height: 500px;
                    margin-left: 1rem;
                    margin-right: 3rem;
                    border-radius: 1rem;

                }


                .red {
                    color: purple;
                    padding-top: 0;
                }

                p {
                    color: black;
                    text-align: justify;
                    font-size: 1.2rem;
                    width: 90%;
                    line-height: 2.2rem;
                }


            }



        }

        .third-section {
            display: flex;
            margin: auto;
            width: 80%;
            padding-top: 4rem;





            .block5 {
                display: block;
                margin: 2rem auto;
                width: 50%;


                h1 {
                    font-size: 2rem;
                    color: white;
                    padding-top: 1rem;
                }

                .core {
                    padding-top: 3rem;
                }


                p {
                    font-size: 1.2rem;
                    text-align: justify;
                    margin-right: 2rem;
                    color: white;
                    /* background-color: rgb(180, 143, 180); */
                    padding: 1.2rem;
                }
            }

            .block6 {
                    width: 40%;
                    padding-bottom: 3rem;
                    padding-right: 3rem;
                   
                   
                
                img {
                    width: 100%;
                    height: 100%;
                    margin-right: 3rem;
                    border-top-left-radius: 1rem;
                    border-top-right-radius: 1rem;
                   
                }

                p {
                    color: black;
                    background-color: white;
                    width: 100%;
                    margin-bottom: 3rem;
                    border-bottom-left-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                    text-align: center;
                    
                }

                :root {
  --primary-color: #425b84;
  --secondary-color: #5b7bb4;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 1rem/1.5 'Arial', sans-serif;
  background: var(--primary-color);
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}

#main-header {
  background: var(--secondary-color);
  padding: 4rem 0;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.3rem;
}

#timeline ul {
  background: var(--primary-color);
  padding: 50px 0;
}

/* Create Line */
#timeline ul li {
  list-style: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

/* Boxes */
#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 1rem;
  background: var(--secondary-color);
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

/* Right Side */
#timeline ul li:nth-child(odd) div {
  left: 40px;
  transform: translate(200px, 0);
}

/* Left Side */
#timeline ul li:nth-child(even) div {
  left: -434px;
  transform: translate(-200px, 0);
}

/* Dots */
#timeline ul li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: inherit;
  transform: translateX(-50%);
  border-radius: 50%;
  transition: background 0.5s ease-in-out;
}

/* Arrows Base */
#timeline div:before {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Right Side Arrows */
#timeline ul li:nth-child(odd) div:before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--secondary-color) transparent transparent;
}

/* Left Side Arrows */
#timeline ul li:nth-child(even) div:before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--secondary-color);
}

/* Show Boxes */
#timeline ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

#timeline ul li.show:after {
  background: var(--secondary-color);
}


@media(max-width: 900px) {
  #timeline ul li div {
    width: 250px;
  }

  #timeline ul li:nth-child(even) div {
    left: -284px;
  }
}

@media(max-width: 600px) {
  #timeline ul li {
    margin-left: 20px;
  }

  #timeline ul li div {
    width: calc(100vw - 90px);
  }

  #timeline ul li:nth-child(even) div {
    left: 40px;
  }

  #timeline ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
  }
}



            }

        }

        .fouth-section {
            display: flex;
            justify-content: center;
            /* width: 100%; */
            padding: 3rem;
            margin: 2rem auto;
            background-color: white;
            margin-bottom: 0;

            h1 {
                font-size: 2rem;
                color: purple;
                margin: 1rem;
              

            }
            
           
            p { 
                padding: 1rem;
                border-radius: 5%;

                padding-right: 1rem;
                text-align: justify;
                line-height: 2.5rem;
                border-right: 5px solid purple;
                box-shadow: 5px 5px 5px rgb(22, 36, 181),
                            5px 5px 5px purple inset; 
                &:hover{
                    background-color: -5px 5px 5px rgb(30, 0, 128);
                }
            }



            .section-section {
                div {
                    /* display: flex; */
                    padding: 1rem;
                    margin-left: 3rem;
                    margin-right: 3rem;
                }

            }
        }


        .fifth-section {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-gap: 1rem;
            margin: 1rem;
            width: 80%;
            margin: auto;
            margin-top: 3rem;
            background: white;
            box-shadow: 0px 0px 5px blue,
                        5px 5px 5px rgb(7, 7, 67) inset;
            /* opacity: 0.4; */


            div {
                color: white;

                h1{
                    padding-top: 20px;
                    text-align: center;
                    color: black;
                }

                p{
                    padding: 2rem;
                    line-height: 1.5rem;
                    text-align: justify;
                    text-align: center;
                    color: black;
                    box-shadow: 0px 2px 2px black;
                }
            }
        }

        .test {
            text-align: center;
            color: purple;
            /* background-color: white; */
            font-size: 2rem;
            font-weight: bold;
        }


    }
}